block includes
  include pug/includes/english-variables

doctype
html(lang="en", dir=dir)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="this is a todo list application")
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href="../images/favicon-32x32.png"
    )
    title #{pageTitle}
    //- Font Awesome Library
    link(rel="stylesheet", href="css/all.min.css")
    //- Main Template CSS File
    link(rel="stylesheet", href="css/main.css")
    //- Google Fonts
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(rel="stylesheet", id="font-url" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap")
  body
    main
      section
        header 
          span #{appName}
          div
            i(class="fa-solid fa-moon")
            i(class="fa-solid fa-globe")
        .add-task
          .checkbox-container
            input(type='checkbox')
          input(type='text' , dir='auto' , placeholder=addPlaceHolder)
          button(disabled)
            i(class="fa-solid fa-plus")
        .all-tasks
          .list-footer
            div
              span.items-left 
              span  #{itemsLeft}
            button.removeAll.button-text #{removeAll}
        .filters 
          each text,filter in filters ? filters : []
            button.button-text(id=`filter-${filter}`) #{text}
        .span.reorder-guide #{reorderGuide}
    //- Font Awesome Library
    script(src="js/all.min.js")
    //- Main Template js File
    script(src="js/main.js")