include pug/includes/variables
include pug/includes/mixins

block direction
  -let dir = "ltr"

doctype
html(lang="en", dir=dir)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="this is a front-end project")
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href="./images/favicon-32x32.png"
    )
    block pageTitle
      title project
    block externalFiles
      //- Font Awesome Library
      link(rel="stylesheet", href="CSS/libraries/all.min.css")
      //- Main Template CSS File
      link(rel="stylesheet", href="CSS/main.css")
    //- Google Fonts
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(rel="stylesheet", id="font-url" href="")
  body
    //- Start Page Content
    block pageContent
      div
    //- End Page Content
    //- Start External Script Files
    //- Font Awesome Library
    script(src="JS/libraries/all.min.js")
    //- Main Template js File
    script(src="JS/main.js")
    //- End External Script Files